## Variables and Lists

###  Variables

**A Python variable is a reserved memory location to store values. In other words, a variable in a python program gives data to the computer for processing.**

In [6]:
# Let see an example. We will declare variable "a" and print it.

variable_1 = 100

print(variable_1)

100

In [7]:
# we can also store a text which is called as a string

variable_2 = 'this is a string'

**You can re-declare and re-assign the variable even after you have declared it once.**

In [5]:
# lets re-decalre and re-assign the same variable 'a' here

variable_1 = 45

print(variable_1)

45

In [8]:
# we can also store a text which is called as a string

variable_2 = 'this is another string'

print(variable_2)

this is another string

## Do it yourself

* Create a varaible, assign it with any number and replace the number in the form of its spelling
     * For example replace 45 with 'forty-five'

## Lists

**Lists in Python represent ordered sequences of values. Here is an example of how to create them:**

In [9]:
primes = [2, 3, 5, 7]

**We can put other types in lists as well**

In [10]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

## Do it yourself

* Create a list of the 7 days of the week and store it in a variable called `weekdays`

**We can even make a list of lists:**

In [12]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

**A list can contain a mix of different types of variables:**

In [13]:
my_favourite_things = [32, 'raindrops on roses', help]
# (Yes, Python's help function is *definitely* one of my favourite things)

## Do it yourself

* Create a a list containing two list, the first should be the 7 weekdays and the second as the corresponding dates from today that is the 6th of July which is a Monday.


## Indexing

You can access individual list elements with square brackets.

Which planet is closest to the sun? Python uses zero-based indexing, so the first element has index 0.Let us look at some examples:

In [14]:
planets[0]

'Mercury'

What's the next closest planet?

In [15]:
planets[1]

'Venus'



Which planet is furthest from the sun?

Elements at the end of the list can be accessed with negative numbers, starting from -1:

In [17]:
planets[-1]

'Neptune'


## Slicing

What are the first three planets? We can answer this question using slicing:

In [19]:
planets[:3]

['Mercury', 'Venus', 'Earth']

## Do it yourself

* Find the third day of the week from the list `weekdays` and also the date for the same.

* Print the first three days of the week

## Loops

Loops are a way to repeatedly execute some code. Here's an example:

In [3]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet, end=' ') # print all on same line

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

The for loop specifies

   * the variable name to use (in this case, planet)
   
   * the set of values to loop over (in this case, planets)

You use the word "in" to link them together.

The object to the right of the "in" can be any object that supports iteration. Basically, if it can be thought of as a group of things, you can probably loop over it. In addition to lists, we can iterate over the elements of a tuple:

In [12]:
multiplicands = [2, 2, 2, 3, 3, 5]
product = 1
for mult in multiplicands:
    product = product * mult
    print(product)
product

2
4
8
24
72
360

360


You can even loop through each character in a string:

In [21]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end='')

HELLO

## Do it yourself

## Task 1

* Create a list of all the 7 days of the weeks and store it in the variable `weekdays`.

* Iterate through the first 5 days of the week stored in the variable `weekdays` and print them.



## Task 2

* Iterate the elements in the list defined below, divide each number by 5 and print quotient for each of the element.

elements = [10,20,30,40,50]

In [ ]:
# write the code here

## Dictionaries

**Dictionary in Python is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds key:value pair. Key value is provided in the dictionary to make it more optimized.**

In [13]:
Fruits = {'A':'apple','B':'bat','c':'camel'}

print(Fruits)
    
Numbers = {'one':1,'two':2,'three':3}

print(Numbers)

{'A': 'apple', 'B': 'bat', 'c': 'camel'}
{'one': 1, 'two': 2, 'three': 3}

### Accessing a dictionary

In [15]:
Fruits

{'A': 'apple', 'B': 'bat', 'c': 'camel'}

In [14]:
Fruits.keys()

dict_keys(['A', 'B', 'c'])

In [16]:
Fruits.values()

dict_values(['apple', 'bat', 'camel'])

In [18]:
for x,y in Fruits.items():
    print(x,y)

A apple
B bat
c camel

## os library

In [1]:
import os

### check the current path

In [6]:
os.getcwd()

'/home/greyatom/Desktop/L_T_warmup_sessions'

In [ ]:
main_dir = os.getcwd()

### Listing down all the files and  folder

In [3]:
os.listdir()

['Entity Recognition in Resumes.json',
 'data',
 '.ipynb_checkpoints',
 'Day_1_Python Warmup.ipynb']

### changing the directory

In [13]:
os.chdir(main_dir)

In [14]:
os.getcwd()

'/home/greyatom/Desktop/L_T_warmup_sessions'

In [15]:
os.listdir()

['Entity Recognition in Resumes.json',
 'data',
 '.ipynb_checkpoints',
 'Day_1_Python Warmup.ipynb']

In [16]:
path = os.path.join(main_dir,'data/train.csv')

In [18]:
import pandas as pd

In [19]:
data = pd.read_csv(path)

In [20]:
data.head()

,Id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,25611,49,blue-collar,married,basic.9y,unknown,no,no,cellular,nov,...,4,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no
1,26010,37,entrepreneur,married,university.degree,no,no,no,telephone,nov,...,2,999,1,failure,-0.1,93.200,-42.0,4.120,5195.8,no
2,40194,78,retired,married,basic.4y,no,no,no,cellular,jul,...,1,999,0,nonexistent,-1.7,94.215,-40.3,0.870,4991.6,yes
3,297,36,admin.,married,university.degree,no,yes,no,telephone,may,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,36344,59,retired,divorced,university.degree,no,no,no,cellular,jun,...,2,999,0,nonexistent,-2.9,92.963,-40.8,1.262,5076.2,no